<%- include ../layout/cabecera.ejs %>
<br>
<h1>Editar Unidad</h1>
<br>
<form method="post" action="../actualizar/">
    
    <input name="id" type="hidden" value="<%=unidad.id%>">

    <div class="form-group">
        <label for="my-input">Nombre:</label>
        <input id="input-nombre" class="form-control" type="text" name="nombre" required value="<%= unidad.nombre %>">
    </div>

    <div class="form-group">
        <label for="my-input">Simbolo: </label>
        <input id="input-descripcion" class="form-control" type="text" name="simbolo" value="<%= unidad.simbolo %>">
    </div>

    <div class="form-group">
        <label for="idMagnitud">Magnitud: (Seleccione una opcion)</label>
        <select id="idMagnitud" class="form-control" name="idMagnitud" required>
            <% magnitudes.forEach((magnitud) => { %>
                <option value="<%= magnitud.id %>"><%= `${magnitud.nombre}     (${magnitud.descripcion || ''})` %></option>
            <% }); %>
        </select>
    </div>

    <button class="btn btn-primary" type="submit">Guardar cambios</button>

</form>



<%- include ../layout/pie.ejs %>
