<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Vehículos</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container mt-5">
        <h1 class="text-center mb-4">Gestión de Vehículos</h1>

        <!-- Botón para abrir el modal de registrar -->
        <div class="text-end mb-3">
            <button type="button" class="btn btn-success" data-bs-toggle="modal"
                data-bs-target="#modalRegistrarVehiculo">
                Registrar Nuevo Vehículo
            </button>
        </div>

        <div class="mb-4">
            <form method="GET" action="/vehiculos/gestionar/<%= currentCampus %>">
                <div class="row g-2 align-items-end">
                    <!-- Filtro por Tipo de Vehículo -->
                    <div class="col">
                        <label for="filterTipoVehiculo" class="form-label">Tipo de Vehículo</label>
                        <select id="filterTipoVehiculo" name="tipoVehiculo" class="form-select">
                            <option value="">Todos</option>
                            <% tiposVehiculo.forEach(tipo=> { %>
                                <option value="<%= tipo.tpv_id %>" <%=tipo.tpv_id===tipoVehiculo ? "selected" : "" %>>
                                    <%= tipo.tpv_detalle %>
                                </option>
                                <% }); %>
                        </select>
                    </div>

                    <!-- Filtro por Tipo de Emisión -->
                    <div class="col">
                        <label for="filterTipoEmision" class="form-label">Tipo de Emisión</label>
                        <select id="filterTipoEmision" name="tipoEmision" class="form-select">
                            <option value="">Todos</option>
                            <% tiposEmision.forEach(emision=> { %>
                                <option value="<%= emision.tpe_id %>" <%=emision.tpe_id===tipoEmision ? "selected" : ""
                                    %>>
                                    <%= emision.tpe_detalle %>
                                </option>
                                <% }); %>
                        </select>
                    </div>

                    <!-- Filtro por Frecuencia -->
                    <div class="col">
                        <label for="filterFrecuencia" class="form-label">Frecuencia</label>
                        <select id="filterFrecuencia" name="frecuencia" class="form-select">
                            <option value="">Todos</option>
                            <% frecuencias.forEach(frecuencia=> { %>
                                <option value="<%= frecuencia.fre_id %>" <%=frecuencia.fre_id===frecuencia
                                    ? "selected" : "" %>>
                                    <%= frecuencia.fre_detalle %>
                                </option>
                                <% }); %>
                        </select>
                    </div>

                    <!-- Orden -->
                    <div class="col">
                        <label for="orderBy" class="form-label">Ordenar por</label>
                        <select id="orderBy" name="orderBy" class="form-select">
                            <option value="">Por Defecto</option>
                            <option value="veh_id" <%=orderBy==="veh_id" ? "selected" : "" %>>ID</option>
                            <option value="veh_cantidad" <%=orderBy==="veh_cantidad" ? "selected" : "" %>>Cantidad
                            </option>
                            <option value="veh_distancia_aprox_recorrida" <%=orderBy==="veh_distancia_aprox_recorrida"
                                ? "selected" : "" %>>Distancia</option>
                        </select>
                    </div>

                    <!-- Dirección del Orden -->
                    <div class="col">
                        <label for="orderDir" class="form-label">Dirección</label>
                        <select id="orderDir" name="orderDir" class="form-select">
                            <option value="ASC" <%=orderDir==="ASC" ? "selected" : "" %>>Ascendente</option>
                            <option value="DESC" <%=orderDir==="DESC" ? "selected" : "" %>>Descendente</option>
                        </select>
                    </div>

                    <!-- Botón de Filtrar -->
                    <div class="col">
                        <button type="submit" class="btn btn-primary">Filtrar</button>
                    </div>
                </div>
            </form>
        </div>


        <!-- Tabla de vehículos -->
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead class="table-primary">
                    <tr>
                        <th>ID</th>
                        <th>Tipo</th>
                        <th>Frecuencia</th>
                        <th>Tipo de Emisión</th>
                        <th>Cantidad</th>
                        <th>Ruedas</th>
                        <th>Fecha de Registro</th>
                        <th>Distancia Recorrida</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <% vehiculos.forEach(vehiculo=> { %>
                        <tr>
                            <td>
                                <%= vehiculo.veh_id %>
                            </td>
                            <td>
                                <%= vehiculo.TipoVehiculo.tpv_detalle %>
                            </td>
                            <td>
                                <%= vehiculo.Frecuencia.fre_detalle %>
                            </td>
                            <td>
                                <%= vehiculo.TipoEmision.tpe_detalle %>
                            </td>
                            <td>
                                <%= vehiculo.veh_cantidad %>
                            </td>
                            <td>
                                <%= vehiculo.veh_cantidad_ruedas %>
                            </td>
                            <td>
                                <%= new Date(vehiculo.veh_fecha_registro).toLocaleDateString() %>
                            </td>
                            <td>
                                <%= vehiculo.veh_distancia_aprox_recorrida %> km
                            </td>
                            <td>
                                <!-- Botón para abrir el modal de editar -->
                                <button class="btn btn-warning btn-sm" data-bs-toggle="modal"
                                    data-bs-target="#modalEditarVehiculo" data-id="<%= vehiculo.veh_id %>"
                                    data-tpv_id="<%= vehiculo.tpv_id %>" data-fre_id="<%= vehiculo.fre_id %>"
                                    data-tpe_id="<%= vehiculo.tpe_id %>" data-cantidad="<%= vehiculo.veh_cantidad %>"
                                    data-ruedas="<%= vehiculo.veh_cantidad_ruedas %>"
                                    data-distancia="<%= vehiculo.veh_distancia_aprox_recorrida %>">
                                    Editar
                                </button>
                                <!-- Botón de eliminar -->
                                <form action="/vehiculos/gestionar/<%= currentCampus %>/eliminar/<%= vehiculo.veh_id %>"
                                    method="POST" class="d-inline"
                                    onsubmit="return confirm('¿Estás seguro de eliminar este vehículo?');">
                                    <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                                </form>
                            </td>
                        </tr>
                        <% }); %>
                </tbody>
            </table>
        </div>

        <!-- Modal para registrar nuevo vehículo -->
        <div class="modal fade" id="modalRegistrarVehiculo" tabindex="-1" aria-labelledby="modalRegistrarVehiculoLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalRegistrarVehiculoLabel">Registrar Vehículo</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form action="/vehiculos/gestionar/<%= currentCampus %>" method="POST">
                        <div class="modal-body">
                            <div class="mb-3">
                                <label for="veh_id" class="form-label">ID del Vehículo</label>
                                <input type="text" class="form-control" id="veh_id" name="veh_id" maxlength="10"
                                    required>
                            </div>
                            <div class="mb-3">
                                <label for="camp_id" class="form-label">Campus</label>
                                <select id="camp_id" name="camp_id" class="form-select" required>
                                    <% campuses.forEach(campus=> { %>
                                        <option value="<%= campus.camp_id %>" <%=(currentCampus===campus.camp_id)
                                            ? 'selected' : '' %>>
                                            <%= campus.camp_nom %>
                                        </option>
                                        <% }); %>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="tpv_id" class="form-label">Tipo de Vehículo</label>
                                <select id="tpv_id" name="tpv_id" class="form-select" required>
                                    <% tiposVehiculo.forEach(tipo=> { %>
                                        <option value="<%= tipo.tpv_id %>">
                                            <%= tipo.tpv_detalle %>
                                        </option>
                                        <% }); %>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="fre_id" class="form-label">Frecuencia</label>
                                <select id="fre_id" name="fre_id" class="form-select" required>
                                    <% frecuencias.forEach(frecuencia=> { %>
                                        <option value="<%= frecuencia.fre_id %>">
                                            <%= frecuencia.fre_detalle %>
                                        </option>
                                        <% }); %>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="tpe_id" class="form-label">Tipo de Emisión</label>
                                <select id="tpe_id" name="tpe_id" class="form-select" required>
                                    <% tiposEmision.forEach(tipo=> { %>
                                        <option value="<%= tipo.tpe_id %>">
                                            <%= tipo.tpe_detalle %>
                                        </option>
                                        <% }); %>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="veh_cantidad" class="form-label">Cantidad</label>
                                <input type="number" class="form-control" id="veh_cantidad" name="veh_cantidad"
                                    required>
                            </div>
                            <div class="mb-3">
                                <label for="veh_cantidad_ruedas" class="form-label">Cantidad de Ruedas</label>
                                <input type="number" class="form-control" id="veh_cantidad_ruedas"
                                    name="veh_cantidad_ruedas" required>
                            </div>
                            <div class="mb-3">
                                <label for="veh_distancia_aprox_recorrida" class="form-label">Distancia Recorrida
                                    (km)</label>
                                <input type="number" class="form-control" id="veh_distancia_aprox_recorrida"
                                    name="veh_distancia_aprox_recorrida" step="0.1" required>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-primary">Registrar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Modal para editar vehículo -->
        <div class="modal fade" id="modalEditarVehiculo" tabindex="-1" aria-labelledby="modalEditarVehiculoLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalEditarVehiculoLabel">Editar Vehículo</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form action="/vehiculos/gestionar/<%= currentCampus %>/actualizar" method="POST">
                        <div class="modal-body">
                            <!-- Campo oculto para el ID del vehículo -->
                            <input type="hidden" id="veh_id_editar" name="veh_id">
                            <input type="hidden" name="camp_id" value="<%= currentCampus %>">

                            <!-- Tipo de Vehículo -->
                            <div class="mb-3">
                                <label for="tpv_id_editar" class="form-label">Tipo de Vehículo</label>
                                <select id="tpv_id_editar" name="tpv_id" class="form-select" required>
                                    <% tiposVehiculo.forEach(tipo=> { %>
                                        <option value="<%= tipo.tpv_id %>">
                                            <%= tipo.tpv_detalle %>
                                        </option>
                                        <% }); %>
                                </select>
                            </div>

                            <!-- Frecuencia -->
                            <div class="mb-3">
                                <label for="fre_id_editar" class="form-label">Frecuencia</label>
                                <select id="fre_id_editar" name="fre_id" class="form-select" required>
                                    <% frecuencias.forEach(frecuencia=> { %>
                                        <option value="<%= frecuencia.fre_id %>">
                                            <%= frecuencia.fre_detalle %>
                                        </option>
                                        <% }); %>
                                </select>
                            </div>

                            <!-- Tipo de Emisión -->
                            <div class="mb-3">
                                <label for="tpe_id_editar" class="form-label">Tipo de Emisión</label>
                                <select id="tpe_id_editar" name="tpe_id" class="form-select" required>
                                    <% tiposEmision.forEach(tipo=> { %>
                                        <option value="<%= tipo.tpe_id %>">
                                            <%= tipo.tpe_detalle %>
                                        </option>
                                        <% }); %>
                                </select>
                            </div>

                            <!-- Cantidad de Vehículos -->
                            <div class="mb-3">
                                <label for="veh_cantidad_editar" class="form-label">Cantidad</label>
                                <input type="number" class="form-control" id="veh_cantidad_editar" name="veh_cantidad"
                                    required>
                            </div>

                            <!-- Cantidad de Ruedas -->
                            <div class="mb-3">
                                <label for="veh_cantidad_ruedas_editar" class="form-label">Cantidad de Ruedas</label>
                                <input type="number" class="form-control" id="veh_cantidad_ruedas_editar"
                                    name="veh_cantidad_ruedas" required>
                            </div>

                            <!-- Distancia Aproximada Recorrida -->
                            <div class="mb-3">
                                <label for="veh_distancia_aprox_recorrida_editar" class="form-label">Distancia Recorrida
                                    (km)</label>
                                <input type="number" class="form-control" id="veh_distancia_aprox_recorrida_editar"
                                    name="veh_distancia_aprox_recorrida" step="0.1" required>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <!-- Bootstrap JS -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

        <!-- Script para cargar datos dinámicamente en el modal de editar -->
        <script>
            const modalEditar = document.getElementById('modalEditarVehiculo');
            modalEditar.addEventListener('show.bs.modal', function (event) {
                const button = event.relatedTarget; // Botón que activó el modal

                // Obtener datos del botón
                const veh_id = button.getAttribute('data-id');
                const tpv_id = button.getAttribute('data-tpv_id');
                const fre_id = button.getAttribute('data-fre_id');
                const tpe_id = button.getAttribute('data-tpe_id');
                const cantidad = button.getAttribute('data-cantidad');
                const ruedas = button.getAttribute('data-ruedas');
                const distancia = button.getAttribute('data-distancia');

                // Asignar los valores a los campos del modal
                modalEditar.querySelector('#veh_id_editar').value = veh_id;
                modalEditar.querySelector('#tpv_id_editar').value = tpv_id;
                modalEditar.querySelector('#fre_id_editar').value = fre_id;
                modalEditar.querySelector('#tpe_id_editar').value = tpe_id;
                modalEditar.querySelector('#veh_cantidad_editar').value = cantidad;
                modalEditar.querySelector('#veh_cantidad_ruedas_editar').value = ruedas;
                modalEditar.querySelector('#veh_distancia_aprox_recorrida_editar').value = distancia;
            });



        </script>
</body>

</html>