<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container mt-5">
        <h1 class="text-center mb-4">Detalles del Campus</h1>
        <table class="table table-bordered">
            <tr>
                <th>ID del Campus</th>
                <td>
                    <%= campus.camp_id %>
                </td>
            </tr>
            <tr>
                <th>Nombre del Campus</th>
                <td>
                    <%= campus.camp_nom %>
                </td>
            </tr>
            <tr>
                <th>Área</th>
                <td>
                    <%= campus.camp_area %> m²
                </td>
            </tr>
            <tr>
                <th>Perímetro</th>
                <td>
                    <%= campus.camp_perimetro %> m
                </td>
            </tr>
            <tr>
                <th>Capacidad</th>
                <td>
                    <%= campus.camp_capacidad %>
                </td>
            </tr>
            <tr>
                <th>Cantidad de Población Actual</th>
                <td>
                    <%= campus.camp_cant_pobla %>
                </td>
            </tr>
            <tr>
                <th>Densidad de Población</th>
                <td>
                    <%= campus.camp_dens_pobla %>
                </td>
            </tr>
            <tr>
                <th>Calle Principal</th>
                <td>
                    <%= campus.camp_calle_principal %>
                </td>
            </tr>
            <tr>
                <th>Calle Secundaria</th>
                <td>
                    <%= campus.camp_calle_secundaria %>
                </td>
            </tr>
        </table>
        <div class="text-center mt-4">
            <a href="/campus" class="btn btn-secondary">Regresar</a>
        </div>
        <div class="row mt-4">
            <!-- Card para Vehículos -->
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-header text-center bg-primary text-white">
                        Vehículos
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            Gestionar los vehículos asociados a este campus.
                        </p>
                        <div class="d-grid gap-2">

                            <a href="/vehiculos/gestionar/<%= campus.camp_id %>" class="btn btn-success">Gestionar
                                Vehículos</a>
                            <a href="/vehiculos/tipos-vehiculo" class="btn btn-secondary">Tipos de Vehículo</a>
                            <a href="/vehiculos/frecuencias" class="btn btn-secondary">Frecuencias</a>
                            <a href="/vehiculos/tipos-emision" class="btn btn-secondary">Tipos de Emisión</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Card para Shuttles -->
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-header text-center bg-success text-white">
                        Servicios de Transporte
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            Gestionar los Servicios de Transporte asociados a este campus.
                        </p>
                        <div class="d-grid gap-2">
                            <a href="/shuttles/gestionar/<%= campus.camp_id %>" class="btn btn-primary">Gestionar
                                Servicios de Transporte</a>
                            <a href="/vehiculos/tipos-emision" class="btn btn-secondary">Tipos de Emisión</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Card para Infraestructuras de Transporte -->
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-header text-center bg-warning text-dark">
                        Infraestructuras de Transporte
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            Gestionar las infraestructuras de transporte asociadas a este campus.
                        </p>
                        <div class="d-grid gap-2">
                            <a href="/infra-transporte/gestionar/<%= campus.camp_id %>"
                                class="btn btn-primary">Gestionar Infraestructuras</a>
                            <a href="/infra-transporte/tipos" class="btn btn-secondary">Tipos de Infraestructura</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Card para Eventos Sostenibles -->
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-header text-center bg-success text-white">
                        Eventos Sostenibles
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            Gestiona los eventos sostenibles organizados en este campus.
                        </p>
                        <div class="d-grid gap-2">
                            <a href="/eventos-sostenibles/gestionar/<%= campus.camp_id %>" class="btn btn-primary">Gestionar
                                Eventos</a>
                            <a href="/eventos-sostenibles/tipos" class="btn btn-secondary">Tipos de Evento</a>
                        </div>
                    </div>
                </div>
            </div>











        </div>




        <!-- Bootstrap JS -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>